//----------  variables
//------------------------------------------------------------------------------

$font-regular: 'Gordita Regular', sans-serif;
$font-medium: 'Gordita Medium', sans-serif;

// Colors
$white: #fff;
$black: #000;
$grey: #fafafa;
$grey-dark: #7e7e7e;

