@font-face {
	font-family:'Gordita Medium';
	src: url('../fonts/GorditaMedium.woff') format('woff');
	font-style: normal;
}
@font-face {
	font-family:'Gordita Regular';
	src: url('../fonts/GorditaRegular.woff') format('woff');
	font-style: normal;
}