//----------  typography
//------------------------------------------------------------------------------

h1 {
	font-size: 54px;
	line-height: 58px;
	font-weight: 700;
	@media only screen and (max-width: 767px) {
		font-size: 35px;
	}
}